apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  replicas: {{ .Values.frontend.replicaCount }}
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
      containers:
        - name: nginx
          image: {{ .Values.frontend.image }}
          imagePullPolicy: {{ .Values.frontend.imagePullPolicy }}
          ports:
            - containerPort: 80
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 1000
          volumeMounts:
            - name: runtime-config
              mountPath: /usr/share/nginx/html/runtime-config
            - name: nginx-proxy
              mountPath: /etc/nginx/conf.d/default.conf
              subPath: default.conf
          resources:
            {{- toYaml .Values.frontend.resources | nindent 12 }}
      volumes:
        - name: runtime-config
          configMap:
            name: frontend-config
            items:
              - key: config.js
                path: config.js
        - name: nginx-proxy
          configMap:
            name: nginx-proxy-conf
            items:
              - key: default.conf
                path: default.conf
